apiVersion: external-secrets.io/v1
kind: ClusterSecretStore
metadata:
  name: vault-secrets
spec:
  provider:
    vault:
      server: "http://vault.vault.svc.cluster.local:8200"
      path: kubernetes
      version: v2
      auth:
        tokenSecretRef:
          name: vault-token
          namespace: external-secrets
          key: token